<?xml version = '1.0' encoding = 'UTF-8'?>
<menu>
  <area file="index.html" text="Aktuell" >
    <submenuitem file="readme.html" text="Einsteigerinformationen (Bitte lesen!)" />
  </area>
  <area file="documentation.html" text="Dokumentation" >
    <submenuitem file="intro.html" text="Einleitung" >
      <submenuitem file="about1.html" text="Über das Team" />
      <submenuitem file="specs.html" text="Leistungsmerkmale" />
    </submenuitem>
    <submenuitem file="install.html" text="Installation" >
      <submenuitem file="install1.html" text="Scribus-Quellen und SVN" />
      <submenuitem file="install2.html" text="Systemanforderungen" />
      <submenuitem file="install3.html" text="Mit Hilfe der Autotools kompilieren und installieren" />
      <submenuitem file="install4.html" text="Mit Hilfe von CMake kompilieren und installieren" />
      <submenuitem file="parallel-install.html" text="Parallelinstallationen" />
      <submenuitem file="install-dpkg.html" text="Debian-Repositorien" />
    </submenuitem>
    <submenuitem file="cross-platform.html" text="Plattformübergreifendes" >
      <submenuitem file="machints1.html" text="Mac OSX/Fink" />
      <submenuitem file="machints2.html" text="Mac OSX/Fink und SVN" />
	<submenuitem text="Windows" file="readme-win32.html"/>
	<submenuitem text="OS/2" file="readme-os2.html"/>
    </submenuitem>
    <submenuitem file="settings1.html" text="Konfiguration" >
      <submenuitem file="keys.html" text="Tastaturkürzel" />
      <submenuitem file="mouse.html" text="Mausbenutzung" />
      <submenuitem file="hyphenator.html" text="Silbentrennung" />
      <submenuitem file="fonts1.html" text="Schriftenverwaltung" />
      <submenuitem file="fonts2.html" text="Schriften im Detail" />
      <submenuitem file="gsfont.html" text="Ghostscript-Schriften" />
      <submenuitem file="fonts3.html" text="Nichtlateinische Schriften" />
      <submenuitem file="fonts4.html" text="Schriften im Vergleich" />
      <submenuitem file="fonts5.html" text="Schriften im Vergleich 2" />
      <submenuitem file="fonts-win32.html" text="Schriften unter Windows" />
    </submenuitem>
    <submenuitem file="about2.html" text="Scribus-Grundlagen" >
      <submenuitem file="docinfo.html" text="Dokumentinformationen" />
      <submenuitem file="pagetemplate1.html" text="Musterseiten" />
      <submenuitem file="short-words.html" text="Umbruchkontrolle für Abkürzungen" />
      <submenuitem text="Paginierung" file="pagenumber.html" />
      <submenuitem text="Farben in Scribus" file="color1.html" />
      <submenuitem text="Ebenen" file="layers.html" />
    </submenuitem>
<!-- <submenuitem text="Document Text" file="text.html" />-->
	<submenuitem file="importhints.html" text="Importieren" >
	<submenuitem file="importhints1.html" text="Importieren" />
	<submenuitem file="importhints2.html" text="Importieren (erweitert)" />
      <submenuitem file="importhints3.html" text=" Import aus OpenOffice.org" />
      <submenuitem file="scribus-svg.html" text="SVG Import" />
      <submenuitem file="importhints4.html" text="HTML Import" />
    </submenuitem>
    <submenuitem file="pdfexport1.html" text="Export nach PDF" >
	    <submenuitem file="pdfexport2.html" text="Exportverlauf" />
      <submenuitem file="pdflavor.html" text="PDF Varianten" />
      <submenuitem file="pdfx3.html" text="PDF/X-3" />
      <submenuitem file="pdfexport3.html" text="PDF-Formulare" />
      <submenuitem file="pdf_form.html" text="PDF-Formulare und PHP" />
      <submenuitem file="javascriptpdf.html" text="PDF und JavaScript" />
      <submenuitem file="pdfexport4.html" text="PDF-Präsentationen" />
    </submenuitem>
    <submenuitem file="print1.html" text="Drucken" >
	    <submenuitem file="print2.html" text="Druckvorschau" />
      <submenuitem file="cups.html" text="CUPS" />
      <submenuitem file="print3.html" text="Druckvorbereitung" />
      <submenuitem file="prepress.html" text="Druckvorstufe" />
    </submenuitem>
    <submenuitem file="cms.html" text="Farbmanagement" >
	    <submenuitem file="cms2.html" text=" Farbmanagement 2" />
	    <submenuitem file="cms3.html" text=" Farbmanagement 3" />
	    <submenuitem file="cms4.html" text=" Farbmanagement 4" />
	    <submenuitem file="moncal.html" text="Monitor-Profilierung" />
    </submenuitem>
    <submenuitem file="toolbox.html" text="DTP-Werkzeugkasten" >
      <submenuitem file="toolbox1.html" text="Adobe Reader" />
      <submenuitem file="toolbox2.html" text="Andere PDF-Betrachter" />
      <submenuitem file="toolbox3.html" text="Batik" />
      <submenuitem file="toolbox4.html" text="GIMP" />
      <submenuitem file="toolbox5.html" text="Ghostscript" />
      <submenuitem file="toolbox6.html" text="GSview" />
      <submenuitem file="toolbox7.html" text="Ghostscript (erweitert) und GSview" />
      <submenuitem file="toolbox8.html" text="ImageMagick" />
      <submenuitem file="toolbox9.html" text="Inkscape" />
      <submenuitem file="toolbox10.html" text="KSnapshot" />
      <submenuitem file="toolbox11.html" text="Vektorisierer" />
      <submenuitem file="toolbox12.html" text="WINE" />
      <submenuitem file="toolbox13.html" text="XnView" />
      <submenuitem file="toolbox14.html" text="Lprof" />
      <submenuitem file="toolbox15.html" text="Krita" />
    </submenuitem>
    <submenuitem file="topten.html" text="Tips und FAQs" >
      <submenuitem file="faq1.html" text="Hilfe" />
      <submenuitem file="faq2.html" text="Sonstiges" />
      <submenuitem file="faq3.html" text="Entwicklung" />
    </submenuitem>
  </area>

<area section="tutorials" file="tutorials.html" text="Tutorien" />

  <area file="developers.html" text="Für Entwickler" >
	  <submenuitem file="scribusfileformat.html" text="Scribus-Dateiformat" />
    <submenuitem file="scripter1.html" text="Scripter" />
    <submenuitem file="scripter-faq.html" text="Scripter FAQ" />
    <submenuitem file="scripterapi.html" text="Scripter API" >
	    <submenuitem file="scripterapi-doc.html" text="Dokumentbefehle" />
	    <submenuitem file="scripterapi-page.html" text="Seitenbefehle" />
	    <submenuitem file="scripterapi-object.html" text="Objekte erzeugen und entfernen" />
	    <submenuitem file="scripterapi-select.html" text="Objekte auswählen" />
	    <submenuitem file="scripterapi-setobjprop.html" text="Objekteigenschaften festlegen" />
	    <submenuitem file="scripterapi-getobjprop.html" text="Objekteigenschaften erhalten" />
	    <submenuitem file="scripterapi-manobj.html" text="Objekte verändern" />
	    <submenuitem file="scripterapi-textframes.html" text="Textrahmen benutzen" />
	    <!--$navlang["Other Commands"]="Andere Befehle";-->
	    <submenuitem file="scripterapi-color.html" text="Farbbefehle" />
	    <submenuitem file="scripterapi-font.html" text="Schriftarten-Befehle" />
	    <submenuitem file="scripterapi-layer.html" text="Ebenenbefehle" />
	    <submenuitem file="scripterapi-dialogs.html" text="Dialogfenster" />
      <submenuitem file="scripterapi-PDFfile.html" text="PDF-Befehle" />
      <submenuitem file="scripterapi-Printer.html" text="Druckerbefehle" />
      <submenuitem file="scripterapi-ImageExport.html" text="Bildexport" />
      <submenuitem file="scripterapi-constants.html" text="Vordefinierte Konstanten" />
      <submenuitem file="scripterapi-pydoc.html" text="All PyDoc-Kommandos" />
      <submenuitem file="scripter-extensions.html" text="Scripter-Erweiterungen" />
    </submenuitem>
    <submenuitem file="plugin_howto.html" text="Ratgeber: Plug-ins" />
    <submenuitem file="gettexthowto.html" text="Ratgeber: GetText-Plugin" />
    <submenuitem file="codingstandards.html" text="Programmierregeln" />
    <submenuitem file="translation_howto.html" text="Ratgeber: Übersetzen" />
  </area>
  <area file="otherinfo.html" text="Weitere Informationen" >
	  <submenuitem file="resources.html" text="Ressourcen" />
    <submenuitem file="irc.html" text="IRC" />
    <submenuitem file="scprinters.html" text="Druckereien" />
   <!-- <submenuitem file="download.html" text="Download" />-->
   <submenuitem file="contributions.html" text="Mitwirkung und Beiträge" />
   <submenuitem file="scribuscopyright.html" text="Scribus-Urheberrecht" />
   <submenuitem file="doccopyright.html" text="Lizenz für die Dokumentation" />
  </area>
</menu>
