[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Scribus
Comment=Graphic Page Layout and Publication
Name[ar]=سكريبس
Name[fa]=اسکریباس
Name[lo]=ສະຄຣີບັດສ໌
Name[ta]=ஸ்கிரிபஸ்
GenericName=Page Layout (Development)
GenericName[af]=Werkskerm Publisering
GenericName[bg]=Издателска програма
GenericName[bs]=Stono izdavaštvo (DTP)
GenericName[ca]=Publicació d'escriptori
GenericName[cs]=Publikační systém (DTP)
GenericName[cy]=Cyhoeddi Penbwrdd
GenericName[da]=Dtp
GenericName[eo]=DTP-programo
GenericName[es]=Publicación de escritorio
GenericName[et]=Küljendusrakendus
GenericName[fa]=نشر میزکار
GenericName[fi]=Julkaisuohjelma
GenericName[fr]=Publication assistée par ordinateur (PAO)
GenericName[he]=הוצאה לאור שולחנית
GenericName[hr]=Stolno izdavaštvo
GenericName[hu]=Kiadványszerkesztés
GenericName[it]=Pubblicazioni
GenericName[ja]=デスクトップパブリッシング
GenericName[lo]=ເດດທອບພັລບບີດຊິງ
GenericName[lt]=Darbastalio leidykla
GenericName[nb]=Datatrykkeprogram
GenericName[nn]=Datatrykk
GenericName[nso]=Kwalakwatso ya Desktop
GenericName[pl]=Program do składu tekstu
GenericName[pt]=Publicação no Ecrã
GenericName[pt_BR]=Publicação do Ambiente de Trabalho
GenericName[ru]=Настольное издательство
GenericName[sl]=Namizno založništvo
GenericName[sr]=Стоно издаваштво
GenericName[ss]=Kushicelela ku desktop
GenericName[sv]=Desktop Publishing
GenericName[th]=เดสก์ทอปพับลิชชิง
GenericName[tr]=Masaüstü Yayıncılık
GenericName[uk]=Видавнича система
GenericName[uz]=Кичик нашриёт
GenericName[ven]=U andadza Desikithopo
GenericName[xh]=Upapasho lwe Desktop
GenericName[zh_CN]=桌面出版
GenericName[zh_TW]=桌面出版
GenericName[zu]=Ukushicilelwa kwe-Desktop
TryExec=scribus
Exec=scribus %f
MimeType=application/vnd.scribus
Terminal=false
Icon=scribusicon
Type=Application
X-StandardInstall=false
Categories=Graphics;Publishing;Qt;
StartupWMClass=scribus
X-KDE-SubstituteUID=false
X-KDE-Username=
DocPath=scribus
