[Desktop Entry]
Encoding=UTF-8
Name=Scribus
Comment=Desktop Publishing
Exec=scribus %f
Icon=scribusicon.png
MimeType=scd,scd.gz,sla,sla.gz
Terminal=false
Type=Application
Categories=Office;Application;
StartupWMClass=scribus
