[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Scribus
GenericName=Page Layout
MimeType=application/vnd.scribus
Icon=scribusicon
Exec=scribus %f
Comment=Page Layout and Publication (Development)
Comment[ar]=سكريبس
Comment[fa]=اسکریباس
Comment[lo]=ສະຄຣີບັດສ໌
Comment[ta]=ஸ்கிரிபஸ்
Comment[af]=Werkskerm Publisering
Comment[bg]=Издателска програма
Comment[bs]=Stono izdavaštvo (DTP)
Comment[ca]=Publicació d'escriptori
Comment[cs]=Publikační systém (DTP)
Comment[cy]=Cyhoeddi Penbwrdd
Comment[da]=Dtp
Comment[eo]=DTP-programo
Comment[es]=Publicación de escritorio
Comment[et]=Küljendusrakendus
Comment[fa]=نشر میزکار
Comment[fi]=Julkaisuohjelma
Comment[fr]=Publication assistée par ordinateur (PAO)
Comment[he]=הוצאה לאור שולחנית
Comment[hr]=Stolno izdavaštvo
Comment[hu]=Kiadványszerkesztés
Comment[it]=Pubblicazioni
Comment[ja]=デスクトップパブリッシング
Comment[lo]=ເດດທອບພັລບບີດຊິງ
Comment[lt]=Darbastalio leidykla
Comment[nb]=Datatrykkeprogram
Comment[nn]=Datatrykk
Comment[nso]=Kwalakwatso ya Desktop
Comment[pl]=Program do składu tekstu
Comment[pt]=Publicação no Ecrã
Comment[pt_BR]=Publicação do Ambiente de Trabalho
Comment[ru]=Настольное издательство
Comment[sl]=Namizno založništvo
Comment[sr]=Стоно издаваштво
Comment[ss]=Kushicelela ku desktop
Comment[sv]=Desktop Publishing
Comment[th]=เดสก์ทอปพับลิชชิง
Comment[tr]=Masaüstü Yayıncılık
Comment[uk]=Видавнича система
Comment[uz]=Кичик нашриёт
Comment[ven]=U andadza Desikithopo
Comment[xh]=Upapasho lwe Desktop
Comment[zh_CN]=桌面出版
Comment[zh_TW]=桌面出版
Comment[zu]=Ukushicilelwa kwe-Desktop
[X-Property::X-KDE-NativeExtension]
Type=QString
Value=.sla
