<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleGetInfoString</key>
        <string>Scribus Installer 1.4.1.svn</string>
        <key>CFBundleIdentifier</key>
        <string>net.scribus.osxinstaller</string>
        <key>CFBundleName</key>
        <string>Scribus</string>
        <key>CFBundleShortVersionString</key>
        <string>1.4.0</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>IFMinorVersion</key>
	<integer>0</integer>
	<key>IFPkgFlagBackgroundAlignment</key>
        <string>topleft</string>
        <key>IFPkgFlagBackgroundScaling</key>
        <string>tofit</string>
</dict>
</plist>
