<?xml version = '1.0' encoding = 'UTF-8'?>
<menu>
  <area file="index.html" text="Welcome" >
    <submenuitem file="readme.html" text="Readme First" />
  </area>
  <area file="documentation.html" text="Documentation" >
    <submenuitem file="intro.html" text="Introduction" >
      <submenuitem file="about1.html" text="About the team" />
      <submenuitem file="specs.html" text="Specifications" />
    </submenuitem>
    <submenuitem file="install.html" text="Installation" >
      <submenuitem file="install1.html" text="Scribus Source &amp; CVS" />
      <submenuitem file="install2.html" text="Requirements" />
      <submenuitem file="install3.html" text="Compiling &amp; Installing" />
      <submenuitem file="parallel-install.html" text="Parallel Install" />
      <submenuitem file="install-dpkg.html" text="Debian dpkg Information" />
    </submenuitem>
    <submenuitem file="cross-platform.html" text="Cross Platform" >
      <submenuitem file="machints1.html" text="Mac OSX/Fink" />
      <submenuitem file="machints2.html" text="Mac OSX/Fink &amp; CVS" />
    </submenuitem>
    <submenuitem file="settings1.html" text="Setup" >
      <submenuitem file="keys.html" text="Keyboard Shortcuts" />
      <submenuitem file="mouse.html" text="Mouse Shortcuts" />
      <submenuitem file="hyphenator.html" text="Hyphenation" />
      <submenuitem file="fonts1.html" text="Font Setup" />
      <submenuitem file="fonts2.html" text="Fonts in Depth" />
      <submenuitem file="gsfont.html" text="GS Fonts" />
      <submenuitem file="fonts3.html" text="Non-Latin Fonts" />
      <submenuitem file="fonts4.html" text="Basic Font Tests" />
      <submenuitem file="fonts5.html" text="Basic Font Tests 2" />
    </submenuitem>
    <submenuitem file="about2.html" text="Scribus Basics" >
      <submenuitem file="docinfo.html" text="Doc. Info" />
      <submenuitem file="pagetemplate1.html" text="Page Templates" />
      <submenuitem file="short-words.html" text="Short Words Plug-in" />
    </submenuitem>
<!-- <submenuitem text="Document Text" file="text.html" />-->    <submenuitem file="importhints.html" text="Importing" >
      <submenuitem file="importhints2.html" text="Importing (Advanced)" />
      <submenuitem file="scribus-svg.html" text="Importing SVGs" />
    </submenuitem>
    <submenuitem file="pdfexport1.html" text="Exporting to PDF" >
      <submenuitem file="pdfexport2.html" text="Export Workflow" />
      <submenuitem file="pdflavor.html" text="PDF Flavors" />
      <submenuitem file="pdfx3.html" text="PDF/X-3" />
      <submenuitem file="pdfexport3.html" text="PDF Forms" />
      <submenuitem file="pdf_form.html" text="PDF Forms and PHP" />
      <submenuitem file="javascriptpdf.html" text="PDF and JavaScript" />
      <submenuitem file="pdfexport4.html" text="PDF Presentations" />
    </submenuitem>
    <submenuitem file="print1.html" text="Printing" >
      <submenuitem file="print2.html" text="Print Preview" />
      <submenuitem file="cups.html" text="CUPS" />
      <submenuitem file="print3.html" text="Preparing for Press" />
      <submenuitem file="prepress.html" text="Pre-Press" />
    </submenuitem>
    <submenuitem file="cms.html" text="Color Management" >
      <submenuitem file="cms2.html" text="Part 2 " />
      <submenuitem file="cms3.html" text="Part 3 " />
      <submenuitem file="cms4.html" text="Part 4 " />
      <submenuitem file="moncal.html" text="Monitor Profiling" />
    </submenuitem>
    <submenuitem file="toolbox.html" text="DTP ToolBox" >
      <submenuitem file="toolbox1.html" text="Acrobat Reader" />
      <submenuitem file="toolbox2.html" text="Other PDF Viewers" />
      <submenuitem file="toolbox3.html" text="Batik" />
      <submenuitem file="toolbox4.html" text="Gimp" />
      <submenuitem file="toolbox5.html" text="Ghostscript" />
      <submenuitem file="toolbox6.html" text="GSview" />
      <submenuitem file="toolbox7.html" text="Advanced Ghostscript &amp; GSView" />
      <submenuitem file="toolbox8.html" text="Imagemagick" />
      <submenuitem file="toolbox9.html" text="Inkscape" />
      <submenuitem file="toolbox10.html" text="KSnapshot" />
      <submenuitem file="toolbox11.html" text="Tracing Tools" />
      <submenuitem file="toolbox12.html" text="WINE" />
      <submenuitem file="toolbox13.html" text="Xnview" />
    </submenuitem>
    <submenuitem file="topten.html" text="Hints &amp; FAQs" >
      <submenuitem file="faq1.html" text="Help" />
      <submenuitem file="faq2.html" text="Miscellaneous" />
      <submenuitem file="faq3.html" text="Development" />
    </submenuitem>
  </area>
  <area section="tutorials" file="tutorials.html" text="Tutorials" />
  <area file="developers.html" text="For Developers" >
    <submenuitem file="scribusfileformat.html" text="Scribus Document Format" />
    <submenuitem file="scripter1.html" text="Scripter" />
    <submenuitem file="scripter-faq.html" text="Scripter FAQ" />
    <submenuitem file="scripterapi.html" text="Scripter API" >
      <submenuitem file="scripterapi-doc.html" text="Document Commands" />
      <submenuitem file="scripterapi-page.html" text="Page Commands" />
      <submenuitem file="scripterapi-object.html" text="Creating &amp; Destroying Objects" />
      <submenuitem file="scripterapi-select.html" text="Selecting Objects" />
      <submenuitem file="scripterapi-setobjprop.html" text="Setting Object Properties" />
      <submenuitem file="scripterapi-getobjprop.html" text="Getting Object Properties" />
      <submenuitem file="scripterapi-manobj.html" text="Manipulating Objects" />
      <submenuitem file="scripterapi-textframes.html" text="Handling Text Frames" />
      <submenuitem file="scripterapi-color.html" text="Color Commands" />
      <submenuitem file="scripterapi-font.html" text="Font Commands" />
      <submenuitem file="scripterapi-layer.html" text="Layer Commands" />
      <submenuitem file="scripterapi-dialogs.html" text="Using Dialogs" />
      <submenuitem file="scripterapi-PDFfile.html" text="PDF Export" />
      <submenuitem file="scripterapi-Printer.html" text="Printing" />
      <submenuitem file="scripterapi-ImageExport.html" text="Image Export" />
      <submenuitem file="scripterapi-constants.html" text="Predefined Constants" />
      <submenuitem file="scripterapi-pydoc.html" text="All Commands from PyDoc" />
      <submenuitem file="scripter-extensions.html" text="Scripter Extensions" />
    </submenuitem>
    <submenuitem file="plugin_howto.html" text="Plugin Howto" />
    <submenuitem file="gettexthowto.html" text="GetText Howto" />
    <submenuitem file="codingstandards.html" text="Coding Standards" />
    <submenuitem file="translation_howto.html" text="Translation Howto" />
  </area>
  <area file="otherinfo.html" text="Other Information" >
    <submenuitem file="resources.html" text="Community" />
    <submenuitem file="irc.html" text="IRC" />
    <submenuitem file="scprinters.html" text="Printers" />
    <submenuitem file="download.html" text="Download" />
    <submenuitem file="contributions.html" text="Contributions" />
    <submenuitem file="scribuscopyright.html" text="Scribus Copyright" />
    <submenuitem file="doccopyright.html" text="Documentation Copyright" />
  </area>
</menu>
