<?xml version="1.0" encoding="UTF-8"?>
<menu>
	<area text="Welcome" file="index.html">
		<submenuitem text="Readme First" file="readme.html"/>
	</area>
	<area text="Documentation" file="documentation.html">
		<submenuitem text="Introduction" file="intro.html">
			<submenuitem text="About the team" file="about1.html"/>
			<submenuitem text="Specifications" file="specs.html"/>
		</submenuitem>
		<submenuitem text="Installation" file="install.html">
			<submenuitem text="Scribus Source &amp; SVN" file="install1.html"/>
			<submenuitem text="Requirements" file="install2.html"/>
			<submenuitem text="Compiling &amp; Installing" file="install3.html"/>
			<submenuitem text="Compiling using CMake" file="install4.html"/>
			<submenuitem text="Compiling using CMake on OS X" file="install5.html"/>                     
			<submenuitem text="Parallel Install" file="parallel-install.html"/>
			<submenuitem text="Debian dpkg Information" file="install-dpkg.html"/>
		</submenuitem>
		<submenuitem text="Cross Platform" file="cross-platform.html">
			<submenuitem text="Mac OSX Readme" file="readme-macosx.html"/>
			<submenuitem text="Mac OSX/Fink" file="machints1.html"/>
			<submenuitem text="Mac OSX/Fink &amp; SVN" file="machints2.html"/>
			<submenuitem text="OS/2 Readme" file="readme-os2.html"/>
			<submenuitem text="Windows Readme" file="readme-win32.html"/>
		</submenuitem>
		<submenuitem text="Setup" file="settings1.html">
			<submenuitem text="Keyboard Shortcuts" file="keys.html"/>
			<submenuitem text="Mouse Shortcuts" file="mouse.html"/>
			<submenuitem text="Hyphenation" file="hyphenator.html"/>
			<submenuitem text="Font Setup" file="fonts1.html"/>
			<submenuitem text="Fonts in Depth" file="fonts2.html"/>
			<submenuitem text="GS Fonts" file="gsfont.html"/>
			<submenuitem text="Non-Latin Fonts" file="fonts3.html"/>
			<submenuitem text="Basic Font Tests" file="fonts4.html"/>
			<submenuitem text="Basic Font Tests 2" file="fonts5.html"/>
			<submenuitem text="Fonts Setup Win32" file="fonts-win32.html"/>
		</submenuitem>
		<submenuitem text="Scribus Basics" file="about2.html" >
			<submenuitem file="docinfo.html" text="Document Information" />
			<submenuitem text="Master Pages" file="pagetemplate1.html" />
			<submenuitem text="Page Numbering" file="pagenumber.html" />
			<submenuitem text="Short Words Plug-in" file="short-words.html" />
			<submenuitem text="Editing Colors" file="color1.html" />
			<submenuitem text="Layers" file="layers.html" />
		</submenuitem>
		<submenuitem text="Importing" file="importhints.html">
			<submenuitem text="Importing EPS" file="importhints1.html"/>
			<submenuitem text="Importing (Advanced)" file="importhints2.html"/>
			<submenuitem file="importhints3.html" text="OpenOffice.org Docs" />
			<submenuitem file="importhints4.html" text="HTML Importing" />
			<submenuitem file="scribus-svg.html" text="Importing SVGs" />
		<submenuitem file="psd.html" text="Importing PSD" />
		</submenuitem>
			<submenuitem text="Exporting to PDF" file="pdfexport1.html">
			<submenuitem text="Export Workflow" file="pdfexport2.html"/>
			<submenuitem text="PDF Flavors" file="pdflavor.html"/>
			<submenuitem text="PDF/X-3" file="pdfx3.html"/>
			<submenuitem text="PDF Forms" file="pdfexport3.html"/>
			<submenuitem text="PDF and JavaScript" file="javascriptpdf.html"/>
			<submenuitem text="PDF Forms and PHP" file="pdf_form.html"/>
			<submenuitem text="PDF Presentations" file="pdfexport4.html"/>
		</submenuitem>
		<submenuitem text="Printing" file="print1.html">
			<submenuitem text="Print Preview" file="print2.html"/>
			<submenuitem text="CUPS" file="cups.html"/>
			<submenuitem text="Preparing for Press" file="print3.html"/>
			<submenuitem text="Pre-Press" file="prepress.html"/>
		</submenuitem>
		<submenuitem text="Color Management" file="cms.html">
			<submenuitem text="Part 2 " file="cms2.html"/>
			<submenuitem text="Part 3 " file="cms3.html"/>
			<submenuitem text="Part 4 " file="cms4.html"/>
			<submenuitem text="Monitor Profiling" file="moncal.html"/>
		</submenuitem>
		<submenuitem text="DTP ToolBox" file="toolbox.html">
			<submenuitem text="Adobe Reader" file="toolbox1.html"/>
			<submenuitem text="Other PDF Viewers" file="toolbox2.html"/>
			<submenuitem text="Batik" file="toolbox3.html"/>
			<submenuitem text="Gimp" file="toolbox4.html"/>
			<submenuitem text="Ghostscript" file="toolbox5.html"/>
			<submenuitem text="GSview" file="toolbox6.html"/>
			<submenuitem text="Advanced Ghostscript &amp; GSView" file="toolbox7.html"/>
			<submenuitem text="Imagemagick" file="toolbox8.html"/>
			<submenuitem text="Inkscape" file="toolbox9.html"/>
			<submenuitem text="KSnapshot" file="toolbox10.html"/>
			<submenuitem text="Tracing Tools" file="toolbox11.html"/>
			<submenuitem text="WINE" file="toolbox12.html"/>
			<submenuitem text="Xnview" file="toolbox13.html"/>
			<submenuitem text="Lprof" file="toolbox14.html"/>
			<submenuitem text="Krita" file="toolbox15.html"/>
			<submenuitem text="Fontmatrix" file="toolbox16.html"/>
		</submenuitem>
		<submenuitem text="Hints &amp; FAQs" file="topten.html">
			<submenuitem text="Help" file="faq1.html"/>
			<submenuitem text="Miscellaneous" file="faq2.html"/>
			<submenuitem text="Development" file="faq3.html"/>
		</submenuitem>
	</area>
	<area text="Tutorials" file="tutorials.html" section="tutorials">
	</area>
	<area text="For Developers" file="developers.html">
		<submenuitem text="Scribus Document Format" file="scribusfileformat.html"/>
		<submenuitem text="Scripter" file="scripter1.html"/>
		<submenuitem text="Scripter FAQ" file="scripter-faq.html"/>
		<submenuitem text="Scripter API" file="scripterapi.html">
			<submenuitem text="Document Commands" file="scripterapi-doc.html"/>
			<submenuitem text="Page Commands" file="scripterapi-page.html"/>
			<submenuitem text="Creating &amp; Destroying Objects" file="scripterapi-object.html"/>
			<submenuitem text="Selecting Objects" file="scripterapi-select.html"/>
			<submenuitem text="Setting Object Properties" file="scripterapi-setobjprop.html"/>
			<submenuitem text="Getting Object Properties" file="scripterapi-getobjprop.html"/>
			<submenuitem text="Manipulating Objects" file="scripterapi-manobj.html"/>
			<submenuitem text="Handling Text Frames" file="scripterapi-textframes.html"/>
			<submenuitem text="Color Commands" file="scripterapi-color.html"/>
			<submenuitem text="Font Commands" file="scripterapi-font.html"/>
			<submenuitem text="Layer Commands" file="scripterapi-layer.html"/>
			<submenuitem text="Using Dialogs" file="scripterapi-dialogs.html"/>
			<submenuitem text="PDF Export" file="scripterapi-PDFfile.html"/>
			<submenuitem text="Printing" file="scripterapi-Printer.html"/>
			<submenuitem text="Image Export" file="scripterapi-ImageExport.html"/>
			<submenuitem text="Predefined Constants" file="scripterapi-constants.html"/>
			<submenuitem text="Scripter Extensions" file="scripter-extensions.html"/>
			<submenuitem text="Scripter Extensions API" file="scripterapi-extensions.html"/>
		</submenuitem>
		<submenuitem text="Plugin Howto" file="plugin_howto.html"/>
		<submenuitem text="GetText Howto" file="gettexthowto.html"/>
		<submenuitem text="Coding Standards" file="codingstandards.html"/>
		<submenuitem text="Translation Howto" file="translation_howto.html"/>
		<submenuitem text="Lipsum Howto" file="lipsum.html"/>
	</area>
	<area text="Other Information" file="otherinfo.html">
		<submenuitem text="Community" file="resources.html"/>
		<submenuitem text="Mailing Lists" file="mailing_lists.html"/>
		<submenuitem file="irc.html" text="IRC"/>
		<submenuitem text="Printers" file="scprinters.html"/>
		<submenuitem text="Download" file="download.html"/>
		<submenuitem text="Contributions" file="contributions.html"/>
		<submenuitem text="Scribus Copyright" file="scribuscopyright.html"/>
		<submenuitem text="Documentation Copyright" file="doccopyright.html"/>
	</area>
</menu>
