<?xml version="1.0" encoding="UTF-8"?>
<menu>
        <area text="Benvenuti" file="index.html">
                <submenuitem text="Le novità di Scribus 1.4.4" file="readme.html"/>
                <submenuitem text="Caratteristiche tecniche" file="specs.html"/>
        </area>
        <area text="Documentazione" file="intro.html">
                <submenuitem text="Introduzione" file="documentation.html">
                        <submenuitem text="Note editoriali" file="editorial.html"/>                    
                        <submenuitem text="Il team di Scribus" file="about1.html"/>
                </submenuitem>
                <submenuitem text="Installazione" file="install.html">
                        <submenuitem text="Mac OS X" file="readme-macosx.html"/>
                        <submenuitem text="OS/2 ed eComStation" file="readme-os2.html"/>
                        <submenuitem text="Haiku" file="readme-haiku.html"/>
                        <submenuitem text="Windows" file="readme-win32.html"/>
                        <submenuitem text="Sorgenti di Scribus e SVN" file="install1.html"/>
                </submenuitem>
                <submenuitem text="Configurazione" file="config.html">
                        <submenuitem text="Configurazione di Scribus" file="settings1.html"/>
                        <submenuitem text="Sillabazione e controllo ortografico" file="hyphenator.html"/>
                        <submenuitem text="Impostazioni per i caratteri" file="fonts1.html"/>
                        <submenuitem text="Approfondimenti sui caratteri" file="fonts2.html"/>
                </submenuitem>
                <submenuitem text="Le basi di Scribus" file="about2.html" >
                        <submenuitem file="qsg.html" text="Iniziare subito a lavorare con Scribus" />
                        <submenuitem file="cli.html" text="Avviare Scribus dalla riga di comando" />
                        <submenuitem text="Tasti di scelta rapida" file="keys.html"/>
                        <submenuitem text="Scorciatoie per il mouse" file="mouse.html"/>
                        <submenuitem file="docinfo.html" text="Informazioni documento" />
                        <submenuitem file="WwFrames.html" text="Lavorare con le cornici" />
                        <submenuitem file="WwText.html" text="Lavorare con il testo" />
                        <submenuitem file="WwStyles.html" text="Lavorare con gli stili" />
                        <submenuitem file="WwImages.html" text="Lavorare con le immagini" />
                        <submenuitem file="WwRenderframes.html" text="Lavorare con le cornici rendering" />
                        <submenuitem file="WwShapes.html" text="Lavorare con le forme" />
                        <submenuitem file="multiple_transform.html" text="Duplicazione multipla e trasformazione" />
                        <submenuitem file="EditingShapes.html" text="Modificare forme" />
                        <submenuitem file="WwLines.html" text="Lavorare con linee e stili di linea" />
                        <submenuitem file="WwFill.html" text="Lavorare con lo sfondo degli oggetti: colori, sfumature e motivi" />
                        <submenuitem text="Lavorare con i livelli" file="layers.html" />
                        <submenuitem text="Lavorare con le pagine mastro" file="pagetemplate1.html" />
                        <submenuitem text="Numerazione automatica delle pagine" file="pagenumber.html" />
                        <submenuitem text="Il plugin Parole Brevi" file="short-words.html" />
        </submenuitem>
        <submenuitem text="Raggruppa per l'output" file="collect4output.html">
        </submenuitem>
        <submenuitem text="Modificare i colori" file="color_editing.html">
                <submenuitem text="Aggiungere e modificare colori" file="add_colors.html" />
                <submenuitem text="La mappa cromatica" file="colorwheel.html" />
                <submenuitem text="Gestire le raccolte di colori" file="color2.html" />
        </submenuitem>                
        <submenuitem text="Raccolte di colori" file="color1.html">
                <submenuitem text="Tavolozze di colori open source" file="color3.html" />
                <submenuitem text="Standard nazionali di colore" file="color4.html" />
                <submenuitem text="Raccolte colori Resene" file="color5.html" />
                <submenuitem text="Raccolte colori dtp studio" file="color6.html" />
                <submenuitem text="GiveLife Color System" file="color7.html" />
                <submenuitem text="Galaxy Gauge Color System" file="color7a.html" />
                <submenuitem text="Galaxy Color Harmonizer" file="color7b.html" />
                <submenuitem text="Galaxy Color Emotions" file="color7c.html" />
		<submenuitem text="Colori NAA" file="color9.html" />
                <submenuitem text="Colori per scopi speciali" file="color8.html" />
                <submenuitem text="Dove sono Pantone, HKS e gli altri?" file="color10.html" />
        </submenuitem>
        <submenuitem text="Importare contenuti" file="importhints.html">
                <submenuitem text="Importare file bitmap" file="importbitmap1.html" />
                <submenuitem text="Importare file di Photoshop" file="psd.html" />
                <submenuitem text="Importare disegni vettoriali" file="importhints2.html"/>
                <submenuitem text="Importare file EPS" file="importhints1.html"/>
                <submenuitem text="Importare file SVG" file="scribus-svg.html" />
                <submenuitem text="Importare documenti HTML" file="importhints4.html" />
                <submenuitem text="Importare file OpenOffice.org e ODF" file="importhints3.html" />
        </submenuitem>
                <submenuitem text="Esportare in formato PDF" file="pdfexport1.html">
                <submenuitem text="Varianti del formato PDF" file="pdflavor.html"/>
                <submenuitem text="Destinazioni per l'esportazione PDF" file="pdfexport2.html"/>
                <submenuitem text="Esportazione PDF: compressione delle immagini" file="pdfexport_image.html"/>                
                <submenuitem text="Esportazione PDF per schermo/web" file="pdfexport3.html"/>
                <submenuitem text="Presentazioni PDF" file="pdfexport4.html"/>
                <submenuitem text="Creare collegamenti nei documenti" file="createlinks.html"/>                
                <submenuitem text="Formulari PDF" file="pdf_form.html"/>
                <submenuitem text="PDF/X-1a" file="pdfx1a.html"/>
                <submenuitem text="PDF/X-3" file="pdfx3.html"/>
        </submenuitem>
        <submenuitem text="Stampare con Scribus" file="print1.html">
                <submenuitem text="Strumenti per la stampa (1)" file="print2.html"/>
                <submenuitem text="Strumenti per la stampa (2)" file="print3.html"/>
                <submenuitem text="Stampa commerciale" file="print4.html"/>
        </submenuitem>
        <submenuitem text="Gestione del colore" file="cms.html">
                <submenuitem text="Impostazioni per la gestione del colore" file="cms2.html"/>
                <submenuitem text="Intenti rendering" file="cms3.html"/>
        </submenuitem>
        <submenuitem text="La cassetta degli attrezzi del DTP" file="toolbox.html">
                <submenuitem text="Adobe Reader" file="toolbox1.html"/>
                <submenuitem text="Strumenti per PDF e PostScript" file="toolbox2.html"/>
                <submenuitem text="Ghostscript" file="toolbox5.html"/>
                <submenuitem text="GSview" file="toolbox6.html"/>
                <submenuitem text="GIMP" file="toolbox4.html"/>
                <submenuitem text="Krita" file="toolbox15.html"/>
                <submenuitem text="XnView" file="toolbox13.html"/>
                <submenuitem text="ImageMagick" file="toolbox8.html"/>
                <submenuitem text="Inkscape" file="toolbox9.html"/>
                <submenuitem text="Squiggle" file="toolbox3.html"/>
                <submenuitem text="LProf" file="toolbox14.html"/>
                <submenuitem text="Fontmatrix" file="toolbox16.html"/>
                <submenuitem text="SwatchBooker" file="toolbox17.html"/>
                <submenuitem text="LibreOffice/OpenOffice.org" file="toolbox18.html"/>
                <submenuitem text="Strumenti da riga di comando" file="toolbox19.html"/>
        </submenuitem>
        <area text="Aiuto!!" file="help.html" >
        </area>
        <area text="Problemi con i file" file="fileproblems.html" >
        </area>
        </area>
        <area text="My Tutorials" file="tutorials.html" section="tutorials">
        </area>
        <area text="For Developers" file="developers.html">
                <submenuitem text="Scribus Document Format" file="scribusfileformat.html"/>
                <submenuitem text="Scripter" file="scripter1.html"/>
                <submenuitem text="Scripter FAQ" file="scripter-faq.html"/>
                <submenuitem text="Scripter API" file="scripterapi.html">
                        <submenuitem text="Document Commands" file="scripterapi-doc.html"/>
                        <submenuitem text="Page Commands" file="scripterapi-page.html"/>
                        <submenuitem text="Creating &amp; Destroying Objects" file="scripterapi-object.html"/>
                        <submenuitem text="Selecting Objects" file="scripterapi-select.html"/>
                        <submenuitem text="Setting Object Properties" file="scripterapi-setobjprop.html"/>
                        <submenuitem text="Getting Object Properties" file="scripterapi-getobjprop.html"/>
                        <submenuitem text="Manipulating Objects" file="scripterapi-manobj.html"/>
                        <submenuitem text="Handling Text Frames" file="scripterapi-textframes.html"/>
                        <submenuitem text="Color Commands" file="scripterapi-color.html"/>
                        <submenuitem text="Font Commands" file="scripterapi-font.html"/>
                        <submenuitem text="Layer Commands" file="scripterapi-layer.html"/>
                        <submenuitem text="Using Dialogs" file="scripterapi-dialogs.html"/>
                        <submenuitem text="PDF Export" file="scripterapi-PDFfile.html"/>
                        <submenuitem text="Printing" file="scripterapi-Printer.html"/>
                        <submenuitem text="Image Export" file="scripterapi-ImageExport.html"/>
                        <submenuitem text="Pre-defined Constants" file="scripterapi-constants.html"/>
                        <submenuitem text="Scripter Extensions" file="scripter-extensions.html"/>
                        <submenuitem text="Scripter Extensions API" file="scripterapi-extensions.html"/>
                </submenuitem>
                <submenuitem text="Plugin Howto" file="plugin_howto.html"/>
                <submenuitem text="GetText Howto" file="gettexthowto.html"/>
                <submenuitem text="Coding Standards" file="codingstandards.html"/>
                <submenuitem text="Translation Howto" file="translation_howto.html"/>
                <submenuitem text="Lorem ipsum Howto" file="lipsum.html"/>
        </area>
        <area text="Altre informazioni" file="otherinfo.html">
                <submenuitem text="Comunità e risorse per gli utenti" file="resources.html"/>
                <submenuitem text="Segnalare un bug" file="bugreport.html"/>
                <submenuitem text="Mailing list" file="mailing_lists.html"/>
                <submenuitem text="IRC" file="irc.html"/>
                <submenuitem text="Cronologia delle versioni" file="releases.html"/>
                <submenuitem text="Scribus Copyright" file="scribuscopyright.html"/>
                <submenuitem text="Documentation Copyright" file="doccopyright.html"/>
        </area>
</menu>
